html {
  background: rgb(175, 200, 225);
}

body { font-family: georgia, serif; }

h1 { font-size: 2.3em; line-height: 1.3em; margin-bottom: 1em; }
h2 { font-size: 1.4em; line-height: 1.3em; margin-bottom: 0.25em; margin-top: 1.3em }
h3, th { line-height: 1.4em ; font-weight: bold; }
p { line-height: 1.5em; margin-bottom: 1.5em; }
em { font-style: italic; }
strong { font-weight: bold; }
span.code { font-family: monospace; }

#page {
  display: table; width: 100%; height: 100%; position: absolute;
}

header { height: 75px; }

#logo {
  line-height: 55px; padding: 10px; margin-left: 10px;
}
#logo > span {
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.075); -moz-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.075);
  color: rgba(0, 0, 0, 0.65);
  margin: 0 2px 0 0; padding: 0 4px;
  background: rgba(255, 255, 255, 0.1); border: solid 1px rgba(200, 235, 255, 0.75);
}

#logo .m { font-size: 1.25em; background: rgba(0, 45, 75, 0.25); color: rgba(255, 255, 255, 1); }
#logo .o { font-size: 1.0em; padding-bottom: 2px; }
#logo .d { font-size: 1.1em; padding-bottom: 2px; border-style: dotted; border-color: white; }
#logo .u { font-size: 1.05em; padding-bottom: 2px; color: rgba(255, 255, 255, 0.9); text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25) }
#logo .l { font-size: 0.95em; padding-bottom: 3px; }
#logo .a { font-size: 1.2em; padding-bottom: 1px; }
#logo .r { font-size: 1.15em; padding-bottom: 1px; border-style: dashed; border-color: rgba(255, 255, 255, 0.5)}
#logo .i { font-size: 1.0em; padding-bottom: 2px; }
#logo .t { font-size: 0.85em; padding-bottom: 3px; border-width: 2px; font-weight: bold; color: rgba(0, 0, 0, 0.65) }
#logo .y { font-size: 1.0em; padding-bottom: 2px; }
#logo .dot { font-size: 0.95em; padding-bottom: 3px; }
#logo .j { font-size: 0.7em; padding-bottom: 5px; }
#logo .s { font-size: 0.85em; padding-bottom: 4px; }

nav {
  position: absolute;
  top: 75px;
  width: 200px;
  background: rgba(0, 0, 0, 0.65);
  border: solid 1px rgba(255, 255, 255, 0.75); border-left: none;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  color: white;
}
nav a {
  color: white; text-decoration: none;
  text-shadow: 2px 2px 3px black;
}
nav ul {
  padding: 10px 10px 30px;
  margin: 0 10px;
  line-height: 1.2em;
}
nav li {
  margin: 0.2em 0;
  padding: 0.2em 0;
  border-top: dotted 1px rgba(255, 255, 255, 0.25);
}
nav li:first-child {
  border-top: none;
}
nav h1 {
  font-size: 12px;
  padding: 10px 10px 0;
  margin: 0; margin-left: 10px;
}

#content {
  position: absolute;
  top: 75px;
  left: 210px;
  width: 700px;
}

#content > article {
  padding: 30px 30px 45px; margin-bottom: 20px;
  display: none; position: absolute;
  width: 640px;
  min-height: 300px;
  background: white;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.05);
  color: rgb(30, 60, 85);
}
#content > article a { color: rgb(0, 105, 190)}
#content > article .intro { font-weight: bold; }
#content > article ul, #content > article ol {
  margin-bottom: 1.5em;
}
#content > article li {
  list-style: disc outside none;
  margin-left: 1em;
}
#content > article li li {
  list-style-type: circle;
}

#changelog th { padding-right: 20px; }
#changelog td {
  vertical-align: top;
  padding: 5px 20px 5px 5px;
}

#changelog tbody tr { border-top: dotted 1px rgb(175, 200, 225) }
#changelog tbody tr:first-child { border-top-style: solid; }
#changelog caption { display: none; }
#changelog h2 {
  font-size: 0.8em; text-transform: uppercase;
  line-height: 1.7em;
  margin: 0;
}

footer {
  width: 100%;
  line-height: 2em;
  position: fixed; bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

footer p { padding: 10px; margin: 0; }

pre { margin-bottom: 1.5em; }